**Question 1**

In [ ]:

option=input("OBANWRI guess the correct english word\n A.RANIBOW\n B. RAINBOW\n C. BOWRANI \n D. ROBWANI \n Ans=")

if(option.lower() == "b"): 

                print("Correct")
else:

     print("Wrong")

OBANWRI guess the correct english word
 A.RANIBOW
 B. RAINBOW
 C. BOWRANI
 D. ROBWANI
 Ans=b
Correct

**Question 2**

In [ ]:
letter="letsupgrade"
print(letter.upper())

LETSUPGRADE

**Question 3**

In [ ]:
cost=int(input('enter the cost price:'))
sell=int(input('enter the selling price:'))
if(cost>sell):
  print('loss')
elif(cost<sell):
  print('profit')
else:
  print('neither')

enter the cost price:20
enter the selling price:20
neither

**Question 4**

In [ ]:
euro = int(input("enter the euro:"))
print(euro*80)

enter the euro:150
12000